<!DOCTYPE html>
<html>
<head>
  <title>Photos Index Page</title>
</head>
<body>
  <header>
    <h1>Photos Index Page</h1>
    <nav>
      <ul>
        <li><a href="/">Return To Homepage</a></li>
        <li><a href="/photos/new">Create A New Photo</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <h1>Photos:</h1>
    <ul>
      <% for(let i = 0; i < photos.length; i++){ %>
         <li>
           <a href="/photos/<%=photos[i].id%>"><%=photos[i].name %></a>
         </li>
      <% } %>
    </ul>
  </main>
</body>
</html>