<!DOCTYPE html>
<html>
<head>
  <title>New Photo Page</title>
</head>
<body>
  <header>
    <h1>Create A New Photo</h1>
    <nav>
      <ul>
        <li><a href="/">Return To Homepage</a></li>
        <li><a href="/photos">Photos Index</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <form action="/photos" method="POST">
      Name: <input type="text" name="name" value="photo name">
      Image: <input type="text" name="img" value="image url">
      <button type="submit">Add Photo</button>
      <select name="userId">
        <% for(i = 0; i < users.length; i++) { %>
        <option value="<%= users[i]._id %>"><%=users[i].username%></option>
        <% } %>
      </select>
    </form>
  </main>

</body>
</html>