<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo Site CRUD APP</title>
</head>
<body>

    <h1>Photo Site Homepage</h1>

    <a href="/users">Click Here To See All Users In This Database</a> <br>
    <a href="/photos">Click Here To See All Photos In This Database</a>
    
</body>
</html>