<!DOCTYPE html>
<html>
<head>
  <title>New User Page</title>
</head>
<body>
  <header>
    <h1>Create A New User</h1>
    <nav>
      <ul>
        <li><a href="/">Return To Homepage</a></li>
        <li><a href="/users">Users Index</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <form action="/users" method="POST">
      Username: <input type="text" name="username" value="username">
      Password: <input type="text" name="password" value="password">
      <button type="submit">Add User</button>
    </form>
  </main>

</body>
</html>